<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>LumiryX - Portfolio</title>
<link rel="stylesheet" href="/style/main.css">
</head>

<body>
<header>
<div class="favicon">
    <img src="/img/favicon.ico" alt="Imagine">
</div>
<h1>LumiryX - Portfolio</h1>
<div class="header-controls">
<button onclick="toggleTheme()">🌙</button>
</div>
</header>
<div class="layout">
<!-- LEFT SIDEBAR -->
<aside class="sidebar-left">
<h3>Content</h3>
<a href="/content/Tools/">Tools</a>
<a href="/content/Projects/">Projects</a>
<a href="/content/Writeups/">Writeups</a>
</aside>
<!-- MAIN CONTENT -->
<main class="main-content">

<h1>Hi, I'm LumiryX</h1>
<h2>Cybersecurity Enthusiast | Self-Taught Security Researcher and Bug Bounty Hunter</h2>
<p>
Welcome to my cybersecurity portfolio. This website documents my journey
learning cybersecurity through practical projects, CTF challenges,
and building security related tools.
</p>
<p>
My main focus is understanding how systems work, how they can be exploited,
and how to secure them.
</p>

<hr>

<h2>What You Can Find Here</h2>
<ul>
    <li><b>Security Tools</b> – small tools and scripts that automate security tasks</li>
    <li><b>Cybersecurity Projects</b> – hands-on projects focused on real-world security concepts</li>
    <li><b>CTF Writeups</b> – detailed walkthroughs from platforms like TryHackMe and HackTheBox</li>
</ul>

<hr>

<h2>Skills</h2>
<ul>
    <li>Linux</li>
    <li>Windows</li>
    <li>Networking Fundamentals</li>
    <li>Python & Bash Scripting Basics</li>
    <li>Web Security</li>
    <li>CTF Problem Solving</li>
    <li>Reconnaissance & Enumeration</li>
</ul>

<hr>

<h2>Platforms I Practice On</h2>
<ul>
    <li>TryHackMe</li>
    <li>HackTheBox</li>
    <li>Hack Smarter</li>
    <li>CTF Challenges</li>
    <li>VulnHub</li>
    <li>Pentester Lab</li>
    <li>Hacker One</li>
</ul>

<hr>

<h2>About Me</h2>
<p>
I am a self-taught cybersecurity learner with a strong passion for both, offensive and defensive 
security and understanding how attacks work in real-world environments.
</p>
<p>
I enjoy solving CTF challenges, building tools, and constantly learning new
security techniques.
</p>

</main>

<!-- RIGHT SIDEBAR -->
<aside class="sidebar-right">
<div class="social-box">
<h4>Social</h4>
<a href="https://github.com/LumiryX">GitHub</a>
<a href="#">LinkedIn</a>
<a href="https://www.youtube.com/@LumiryX-SecureShield">YouTube</a>
</div>
</aside>
</div>
<footer>

© 2026 LumiryX 

</footer>
<script src="/js/script.js"></script>

</body>
</html>